{% extends 'base.html'%}
{%block content%}
<h3>Edit item</h3>
<form method="post">
  <label for="name">Name</label>
        <input type="text" name="title" autocomplete="off" id="name" required value="{{movie.title}}">
  <label for="year">Year</label>
        <input type="text" name="year" autocomplete="off" id="year" required value="{{movie.year}}">
        <!--autocomplete 自动完成，关闭则点击输入框不会显示历史记录-->
        <!--required 表示如果没有输入内容按下提交会显示错误提示-->
        <input class="btn" type="submit" name="submit" value="Update">
        <!--submit btn，点击后提交表单发送post请求，默认发送请求的url是网页的url(有触发请求发送的作用)-->
</form>
{% endblock %}